@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 13vh;
  padding: 0 7vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}
header h1 {
  display: flex;
  align-items: center;
}
header h1 a {
  font: bold 20px/1 "arial";
  color: #333;
}
header nav {
  display: flex;
  gap: 100px;
}
header nav #gnb {
  display: flex;
  gap: 40px;
}
header nav #gnb a {
  font: 12px/1 "arial";
  color: #555;
}
header nav .sns {
  display: flex;
  gap: 20px;
}
header nav .sns a {
  font-size: 12px;
  color: #777;
}
header .fa-bars {
  font-size: 20px;
  color: #333;
  position: absolute;
  top: 50%;
  right: 7vw;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

figure {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 13vh 7vw 8vh;
  overflow: hidden;
}
figure .panel {
  width: 100%;
  height: 100%;
  position: relative;
}
figure .panel li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
figure .panel li .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s;
}
figure .panel li .bg::before, figure .panel li .bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: center;
  z-index: 2;
  transition: margin-top 0.6s;
}
figure .panel li .bg::before {
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
  margin-top: -100px;
}
figure .panel li .bg::after {
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  margin-top: 100px;
}
figure .panel li .bg .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-image: inherit;
  background-repeat: inherit;
  background-size: inherit;
  z-index: 1;
  margin-top: 40px;
  transform: scale(0.95);
  filter: blur(20px);
  opacity: 0.7;
}
figure .panel li .txt {
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
}
figure .panel li .txt h2 {
  font: normal 7vw/1 "anton";
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  display: flex;
  gap: 3px;
  position: relative;
  padding-bottom: 10px;
}
figure .panel li .txt h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 1s 0.5s;
}
figure .panel li .txt h2 span {
  display: inline-block;
  transform: translateY(120%);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
figure .panel li.on {
  z-index: 2;
}
figure .panel li.on .bg {
  opacity: 1;
  transform: translateY(0%) scale(1);
  background-position: center;
}
figure .panel li.on .bg::before, figure .panel li.on .bg::after {
  margin-top: 0;
}
figure .panel li.on .txt {
  opacity: 1;
}
figure .panel li.on .txt h2::after {
  width: 100%;
}
figure .panel li.on .txt h2 span {
  transform: translateY(0%);
}
figure .panel li.up .bg {
  opacity: 0;
  transform: translateY(-80%) scale(0.7);
}
figure .panel li.down .bg {
  opacity: 0;
  transform: translateY(80%) scale(0.7);
}
figure .btnUp {
  display: block;
  width: 61px;
  height: 50px;
  position: absolute;
  right: 7vw;
  margin-right: -60px;
  bottom: calc(8vh + 100px);
  transform: scale(0.8);
  z-index: 3;
  transition-property: bottom, right;
  transition-duration: 0.5s;
}
figure .btnUp::before, figure .btnUp::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: center top;
  transition: 0.5s 0.2s;
}
figure .btnUp::before {
  transform: rotate(45deg);
}
figure .btnUp::after {
  transform: rotate(-45deg);
}
figure .btnUp span {
  display: block;
  width: 1px;
  height: 40px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 0;
  transition: 0.5s;
}
figure .btnUp em {
  font: 12px/1 "arial";
  color: #111;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}
figure .btnUp:hover::before {
  transform: rotate(45deg) translateY(-40px);
  opacity: 0;
}
figure .btnUp:hover::after {
  transform: rotate(-45deg) translateY(-40px);
  opacity: 0;
}
figure .btnUp:hover span {
  transform: translateY(-40px);
  opacity: 0;
}
figure .btnUp:hover em {
  top: 50%;
  opacity: 1;
}
figure .btnDown {
  display: block;
  width: 61px;
  height: 50px;
  position: absolute;
  right: 7vw;
  margin-right: -60px;
  bottom: 8vh;
  transform: scale(0.8);
  z-index: 3;
  transition-property: bottom, right;
  transition-duration: 0.5s;
}
figure .btnDown::before, figure .btnDown::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: center bottom;
  transition: 0.5s 0.2s;
}
figure .btnDown::before {
  transform: rotate(-45deg);
}
figure .btnDown::after {
  transform: rotate(45deg);
}
figure .btnDown span {
  display: block;
  width: 1px;
  height: 40px;
  background: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: 0.5s;
}
figure .btnDown em {
  font: 12px/1 "orbitron";
  color: #111;
  letter-spacing: 2px;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
}
figure .btnDown:hover::before {
  transform: rotate(-45deg) translateY(40px);
  opacity: 0;
}
figure .btnDown:hover::after {
  transform: rotate(45deg) translateY(40px);
  opacity: 0;
}
figure .btnDown:hover span {
  transform: translateY(40px);
  opacity: 0;
}
figure .btnDown:hover em {
  top: 50%;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
